$loader-color:  #dbdbdba1;

$login-color: #fff;
$login-button-color: #389e0d;
$login-button-hover-color: #52c41a;

$register-color: #fff;
$register-button-color: #389e0d;
$register-button-hover-color: #52c41a;